<app-parent></app-parent>

<h2>Hello bro!</h2>
Your name is {{name}}

<input id="{{ myid }}" type="text" value="something">
<input [disabled]="isDisabled" type="text" value="something">

<!--Note the diff in property binding-->
<h2 class="success">Success</h2>
<!--Need to declare the class in .ts-->
<h2 [class]="successClass">Success</h2>
<h2 [class]="errorClass">Error</h2>

<!--Directives : directly interacts with DOM-->
<h2 [ngClass]="msgClass">Message</h2>

<!--Style binding-->
<h2 style="color : purple">Message</h2>
<h2 [style]="myprop">Message</h2>
<h2 [ngStyle]="mystyle">Message</h2>

<!--Event Binding-->
<input (click)="sayHi()" type="submit" value="Click here" />
<input type="text" [(ngModel)]="name" />
{{name}}

<!--Templates-->
<input #emaill (keyup.enter)="onKeyUpp(emaill.value)" />

<!--Structural Directives-->
<div *ngIf="displayName ; then thenBlock ; else elseBlock"></div>
<ng-template #thenBlock>Then Worked</ng-template>
<ng-template #elseBlock>Else Worked</ng-template>

<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">
    <h2 [style.color]="color">Red Color</h2>
  </div>
  <div *ngSwitchCase="'blue'">
    <h2 style="color:blue">Blue Color</h2>
  </div>
  <div *ngSwitchCase="'black'">
    <h2 style="color:black">Black Color</h2>
  </div>
  <div *ngSwitchDefault>
    <h2>Select a Color!!!</h2>
  </div>
</div>

<div *ngFor="let item of colors">
   <div [style.color]="item">{{ item }}</div>
</div>
<br>
{{ name | lowercase}}
<br>
{{ name | uppercase}}
<br>
{{ 25.3 | number : "1.2-3" }}
<br>
{{ today | date : 'full' }}
<br>
{{ emp | json}}
<br>
{{ price | currency:'INR'}}